# Status 11/24: tested on MacOS Monterey 12.3
## This file is used to load dependencies for streamlit

cartopy
cftime
dask
matplotlib
numpy
pandas
pathlib
pickle
scipy
seaborn
streamlit
xarray
xarrayutils
